# Binaries and builds
Binaries/
DerivedDataCache/
Intermediate/
Saved/
*.sln

# User specific files
*.user
*.userprefs
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb

# Ignore config files generated per-user
*.log
*.tlog
*.pdb

# Build output
Build/
